<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{ slides.title }}</title>
    <meta name="description" content="{{ slides.description }}">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/custom.css">
    <script src="https://use.typekit.net/rdt5don.js"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        {{ content }}
      </div>

      <footer>
        <span>CascadiaCSS 2016</span>
        <a href="https://twitter.com/jdsteinbach">@jdsteinbach</a>
        <a href="https://jdsteinbach.com/sass-postcss">jdsteinbach.com/sass-postcss</a>
      </footer>
    </div>

    <script src="js/reveal.js"></script>

    <script>
      // More info about config & dependencies:
// - https://github.com/hakimel/reveal.js#configuration
// - https://github.com/hakimel/reveal.js#dependencies
      Reveal.initialize({height: 750, width: 1000, transition: 'fade', hash: true});
    </script>
  </body>
</html>
