/**
 * Custom theme for reveal.js.
 *
 * By James Steinbach, https://jamessteinbach.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
// @import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #25272c;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 38px;
$mainFont: ff-enzo-web, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headingFont: $mainFont;
$headingTextShadow: 1px 1px 0 #036, 1.3px 1.3px 0 #036, 1.7px 1.7px 0 #036, 2px 2px 0 #036, 2.3px 2.3px 0 #036, 2.7px 2.7px 0 #036, 3px 3px 0 #036, 3.3px 3.3px 0 #036, 3.7px 3.7px 0 #036, 4px 4px 0 #036, 4.3px 4.3px 0 #036, 4.7px 4.7px 0 #036, 5px 5px 0 #036;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 900;
$linkColor: #c69;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.618em;
$heading2Size: $heading1Size;
$heading3Size: 1.618em;
$heading4Size: 1.38em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $backgroundColor;
	}
}

body {
  background-image:
    radial-gradient(
      ellipse at center,
      rgba(#000, 0) 0%,
      rgba(#000, .25) 55%,
      rgba(#000, .5) 70%,
      rgba(#000, .75) 85%,
      rgba(#000, 1) 100%
      ),
    linear-gradient(
      90deg,
      rgba(#000, .075) 0%,
      rgba(#000, .075) 50%,
      rgba(#000, 0) 50%,
      rgba(#000, 0) 100%
      ),
    linear-gradient(
      180deg,
      rgba(#000, .075) 0%,
      rgba(#000, .075) 50%,
      rgba(#000, 0) 50%,
      rgba(#000, 0) 100%
      ) !important;
  background-size: 100% 100%, 50px 100%, 100% 50px !important;
  background-repeat: no-repeat, repeat-x, repeat-y !important;
}

.reveal .slides {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;

  p,
  li {
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    max-width: 22.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  b,
  strong {
    font-weight: 900;
  }

  h1 {
    text-shadow: $headingTextShadow;
  }

  h1, h2, h3 {
    color: #dadbdf;

    span {
      color: #fff;
      display: block;
      font-size: $heading4Size;
      font-style: italic;
      font-weight: normal;
      padding-bottom: .1618em;
      text-transform: none;
    }
  }

  h4 {
    &:not(:first-child) {
      color: mix(#036, #fff);
      font-weight: 600;
      text-shadow: none;
    }
  }

  h3, h4 {
    text-transform: none;
  }

  ul, ol {
    margin-left: auto;
    margin-right: auto;
    max-width: 15em;
    padding-left: .75em;

    li {
      margin-bottom: .25em;
    }
  }

  ul.reading-list {
    max-width: 100%;
    width: 100%;
  }

  ol {
    max-width: 100%;
    width: 100%;
  }

  pre {
    box-shadow: none;
    display: block;
    font-size: $mainFontSize * .9;
    line-height: 0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
    white-space: normal;

    code {
      background: rgba(mix($backgroundColor, #000), .75);
      border: 2px solid rgba($mainColor, .25);
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(#000, .6);
      color: #fff;
      display: inline-block;
      line-height: 1.4;
      margin: 0;
      max-height: inherit;
      max-width: inherit;
      padding: 1ch;
      text-align: left;
      white-space: pre;

      .hljs-comment {
        color: #699;
      }

      .hljs-selector-pseudo,
      .hljs-built_in {
        color: #dadbdf;
      }

      .hljs-selector-class,
      .hljs-string {
        color: mix(#c69, #fff);
      }

      .hljs-selector-id,
      .hljs-number,
      .hljs-literal {
        color: mix(#036, #fff);
      }

      .hljs-attribute,
      .hljs-keyword {
        color: #e1d7d2;
      }

      .hljs-function {
        color: #998099;
      }
    }
  }

  code {
    font-family: Operator Mono, Input Mono, monospace;
    font-kerning: normal;
    font-variant-ligatures: normal;
    -moz-font-feature-settings: normal;
    -ms-font-feature-settings: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-size: inherit;
  }

  img[src*=".png"],
  img[src*=".svg"] {
    background-color: transparent;
    border: none;
  }

  .logo {
    height: 160px;
    opacity: 0;
    transition: transform 1s cubic-bezier(1,1.618,.382,.618), opacity 1s ease-in-out;
    transform: translateX(-60vw) translateY(-60vh) rotate(15deg) scale(.2);
    width: 160px;

    + .logo {
      transform: translateX(60vw) translateY(-60vh) rotate(-15deg) scale(.2);
    }
  }

  .present > .logo {
    opacity: 1;
    transform: none;
  }

  .visible ~ .logo {
    opacity: .85;
    transform: translateX(-53.5%) rotate(360deg) scale(2);
  }

  .visible + .logo {
    transform: translateX(53.5%) rotate(-360deg) scale(2);
  }

  footer {
    bottom: .618em;
    color: #dadbdf;
    font-size: .618em;
    font-style: italic;
    left: .618em;
    right: .618em;
    position: absolute;
    text-align: center;

    a {
      display: inline-block;
      padding-left: 1.618em;
    }
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------